/* Updated styles for input fields */
.signup-input-field {
    border: none;
    outline: none;
    background: transparent;
    padding: 0.5rem;
    border-radius: 5px;
    color: rgb(164, 125, 132);
    margin: 2px 0;
}

/* Updated styles for input containers */
.signup-input-container {
    margin: 5px 0;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.465);
    padding: 0.2vh;
    width: 80%;
}

/* Updated styles for the signup form */
.custom-signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    width: 20vw;
    background-color: rgba(255, 192, 203, 0.81);
    border-radius: 10px;
}

#custom-signup-title {
    font-size: 20px;
    color: rgb(135, 102, 107);
}

#custom-signup-button {
    width: 10vw;
    border-radius: 2px;
    color: rgba(110, 82, 86, 0.87);
    padding: 6px;
    font-weight: bold;
}
