.img-cont{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -2;
    display: flex;
    filter: brightness(0.95);
}
.sakura-gif {
    position: absolute; /* Position the GIF relative to its containing element */
    top: 50vh; /* Position it at the top of the container */
    left: 0; /* Position it at the left of the container */
    width: 45vw; /* Make it cover the entire width of the container */
    height: 50vh; /* Make it cover the entire height of the container */
    z-index: -2; /* Ensure the GIF is on top */
  }

.flex-container {
    display: flex;
    justify-content: center;
    margin-right: auto;
    align-items: center;
}

.cont{
    display: flex;
    margin-right: 5vw;
    position: absolute;
    top: 85%;
    left: 20%;
    color: pink;
}

#title{
    ily: Helvetica, sans-serif;
    font-size: 5vh;
    font-weight: bold;
    margin-bottom: .4rem;
    margin-right: 3vw;
}

.special-button {
    margin: 0 .2rem; /* Adjust the 1rem value to control the spacing */
    padding: 0.5rem 1rem;
    font-size: 2vh;
    background-color: #007bff9c;
    color: pink;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
  
  
button:hover {
    background-color: #0056b3;
}
 

#forms{
    /* display: flex; */
    position: absolute;
    top: 30vh;
    left: 70vw;

}



/* Add an animation to the "Running Idle" text */
@keyframes slideIn {
    0% {
      transform: translateX(-100%); /* Start off the screen to the left */
      opacity: 0; /* Hidden at the beginning */
    }
    100% {
      transform: translateX(0%); /* Fully visible at the end */
      opacity: 1;
    }
  }
  
  /* Apply the animation to the title element */
  #title {
    animation: slideIn 2s ease forwards; /* Apply the animation */
  }
  