 .links{
  display: flex; /* Use flexbox */
    justify-content: right; /* Center horizontally */
    align-items: flex-start; 
    
}
.leaderboard-button {
  position: absolute;
  bottom: 17vh;
  left: 35vw;
  width: 50%;
}
.leaderboard-button button {
  font-size:20px;
  white-space: nowrap; /* Prevent line breaks */
 
  text-overflow: ellipsis;
}
.links a img {
  height: 35px;
  width:35px;
  padding-left: 5px;
}
#bio-pic{
height: 100px;
width:100px;
padding-left: 40px;
}
#bio-pic1{
  height: 90px;
  width:90px;
  padding-left: 35px;
}
#bio-pic2{
    height: 120px;
    width:120px;
    padding-left: 35px;
}


.img-cont{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -2;
    display: flex;
    filter: brightness(0.95);
}
.sakura-gif {
    position: absolute; /* Position the GIF relative to its containing element */
    top: 50vh; /* Position it at the top of the container */
    left: 0; /* Position it at the left of the container */
    width: 45vw; /* Make it cover the entire width of the container */
    height: 50vh; /* Make it cover the entire height of the container */
    z-index: -2; /* Ensure the GIF is on top */
  }

.flex-container {
    display: flex;
    justify-content: center;
    margin-right: auto;
    align-items: center;
}

.cont{
    display: flex;
    margin-right: 5vw;
    position: absolute;
    top: 85%;
    left: 8%;
    color: pink;
}

#title{
    font-size: 3.5vh;
    font-weight: bold;
    margin-bottom: .4rem;
    margin-right: 3vw;
}

.special-button {
    margin: 0 .2rem; /* Adjust the 1rem value to control the spacing */
    padding: 0.5rem 1rem;
    font-size: 1.5vh;
    background-color: #007bff9c;
    color: pink;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
  
  
button:hover {
    background-color: #0056b3;
}
 

#forms{
    /* display: flex; */
    position: absolute;
    top: 30vh;
    left: 70vw;

}



/* Add an animation to the "Running Idle" text */
@keyframes slideIn {
    0% {
      transform: translateX(-100%); /* Start off the screen to the left */
      opacity: 0; /* Hidden at the beginning */
    }
    100% {
      transform: translateX(0%); /* Fully visible at the end */
      opacity: 1;
    }
  }
  
  /* Apply the animation to the title element */
  #title {
    animation: slideIn 2s ease forwards; /* Apply the animation */
  }
  