#all-runs-index-container{
    background: url('../Profile/back2.png') no-repeat center center;
    background-size: cover;
}

#all-runs {
    width: 33%;
    margin: 0 auto;
    padding-top: 20px;
}

#runs-index-home-button {
    position: relative;
    top: 90px;
}