#characterrunspage-headercontainer {
    border: 1px solid green;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#runsdata-container {
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
}

#characterrunspage-map {
    border: 1px solid purple;
    overflow: hidden;

    height: 100px;
    width: 100px;
    display: flex;
}

#characterrunspage-map div {
    height: 100px;
    width: 100px;
    display: flex;
}


#characterrunspage-startandindex {
    border: 1px solid rgb(0, 53, 128);
}

