#characterrunspage-headercontainer {
    border: 1px solid green;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#runsdata-container {
    border: 1px solid red;
}

