#characterrunspage-headercontainer {
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 25px;
}

#runsdata-container {
    border: 1px solid red;
    display: flex;
    justify-content: flex-start;
}

#characterrunspage-map {
    overflow: hidden;
    margin: 30px;
    height: 800px;
    width: 1000px;
    display: flex;
}

#characterrunspage-map div {
    border-radius: 20px;
}

#characterrunspage-startandindex {
    border: 1px solid rgb(0, 53, 128);
    margin: 30px;
    width: 800px;
    display: flex;
    
}

