#showPageContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center;  */
    width: 100vw;
    height: 100vh;
    /* border: 1px solid rgb(255, 0, 0); */
    background-color: rgb(48, 48, 48);
    background-image: url('../../../../public/assets/backgrounds/pixleBacground2.png');
    background-position: center center;
}

#showPageNavBar {
    display: flex;
    width: 100vw;
    height: 20vh;
    border: 1px solid blue;
    align-items: center; 
    justify-content: right; 
    /* gap: 12%; */
    /* padding-left: 13%; 
    padding-right: 13%;  */
}

#showPageNavBar>* {
    /* margin-left: 4%; */
    margin-right: 2.9%;
}

#charsStuffContainer {
    /* border: 1px solid rgb(255, 255, 255); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

#charSprite {
    display: flex;
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

} 


#charStats {
    display: flex;
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    flex-direction: column;
    /* gap: 13.7%; */
}

.attributeBar {
    display: flex;
    height: 40%;
    /* border: 2px solid rgb(255, 0, 0); */
    align-items: center;
    font-size: 40px;
}

.xpBar {
    border: 2px solid rgb(255, 0, 0);
    width: 30%;
    height: 50%;
    border-radius: 10px;
}

#xpFillBar {
    height: 100%;
    border: none;
}

#xpPercent {
    padding-left: 20px;
    padding-right: 20px;
    color: pink;
    text-shadow: 2px 2px 10px blue;
}

#xpLevel {
    color: pink;
    text-shadow: 2px 2px 10px blue;
}


.charShowButtons {
    display: flex;
    width: 23%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    /* margin-left: 4%; */
    /* margin-top: 4%; */
    background-color: #0065d1d1;
    color: pink;
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s, color 0.2s;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(550, 0, 255, 0.5);
    text-shadow: 2px 2px 3px rgba(550, 0, 255, 0.8);
    cursor: pointer;
    border-width: 4px;
    margin-left: 4%;
}

.charShowButtons:hover {
    background-color: #0056b3;
    box-shadow: 0px 4px 12px rgba(550, 0, 255, 1);
}

.charShowButtons:active {
    transform: translateY(4px);
    box-shadow: 0px 1px 2px rgba(0, 0, 255, 0.5);
    color: white;
}



#CharacterName {
    position: absolute;
    font-size: 64px;
    font-weight: bold;
    color: pink;
    text-shadow: 2px 2px 10px blue;
    margin: 0;
    left: 4%; 
}

#charStaticImgIcon {
    display: flex;
    width: 5%;
    height: 50%;
    cursor: pointer;
}

#charShowNavButtons {
    padding: 20px 30px;
    font-size: 26px;
    margin-left: 0;
    margin-top: 0;
    width: 12vw;
    height: 40%;
}


#CharacterIcon {
    display: flex;
    width: 30vw;
    height: 60vh;
}

#CharPoints  {
    font-size: 35px;
        font-weight: bold;
            color: pink;
            text-shadow: 2px 2px 10px blue;
            border: 2px solid blue;
            padding-top: 20px;
            padding-bottom: 20px;
}