.log-btn,
.new-btn {
  /* Apply the shared styles from .special-button */
  margin: 0 0.2rem;
  padding: 0.5rem 1rem;
  font-size: 2vh;
  background-color: #007bff9c;
  color: pink;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  top: 3vh;
  position: absolute;
}

.log-btn:hover,
.new-btn:hover {
  background-color: #007bff; /* Change the color on hover */
}

.log-btn {
  right: 5vw;
}

.new-btn {
  left: 5vw;
}

.char-header {
  position: absolute;
  font-style: arial;
  font-size: 24px;
  font-weight: bold;
  top: 3vh; /* Position from the vertical center */
  left: 50%; /* Position from the horizontal center */
  transform: translate(-50%, -50%); /* Center the element */
}

.char-container {
  position: absolute;
  top: 10vh;
  width: 100%;
}

.back-image{
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -2;
}
.profile-page-links {
  position: relative; /* Set the parent to a relative position */
}

#profile-actual-links {
  position: absolute; /* Set the links to an absolute position */
  bottom: 10px; /* Align to the bottom */
  right: 0; /* Align to the right */
  display: flex;
}

.profile-page-links a:nth-child(2n) {
  margin-right: 30px;
  /* Add spacing to the right of every 3rd <a> */
}